<section
id="aboutme"
class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
aria-label="About me"
>
<div
  class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:relative lg:mx-auto lg:w-full lg:px-0"
>
  <h2
    class="text-sm font-bold uppercase tracking-widest text-neutral-200"
  >
    Sobre mi
  </h2>
</div>
<div>
  <div class="mb-4 space-y-4">
    <p>
      Desde niño, he sido apasionado por la tecnología y actualmente diseño interfaces de usuario atractivas.
      Dedico mi tiempo a mejorar mis habilidades, llevando mis conocimientos al siguiente nivel.
      Soy una persona realista, adaptable, creativa, y responsable con un gran deseo de trabajar, experimentar y aprender.
    </p>

    <p>
      Mi objetivo es seguir aprendiendo para ayudar a los demás a través de la tecnología.
    </p>

    <p>
      En mi tiempo libre, disfruto leer, escuchar música y jugar videojuegos.
    </p>
  </div>
</div>
</section>