<section
  id="description"
  class="mb-16 scroll-mt-16 md:mb-24 lg:w-5/6 lg:mb-36 lg:scroll-mt-24"
  aria-label="About me"
>
  <div>
    <div class="flex mb-4 space-y-4">
      <p class="text-2xl">
        <span class="text-yellow-300">Ingenierio en Sistemas</span>
        especializado en el desarrollo de sitios y aplicaciones web. Apasionado por
        el frontend, creo interfaces de usuario intuitivas y atractivas que mejoran
        la experiencia del cliente. Combinando conocimientos en tecnologías frontend,
        backend y bases de datos, ofrezco soluciones integrales que ayudan a las
        empresas a optimizar su presencia en línea y a impulsar su crecimiento.
      </p>
    </div>
  </div>
</section>
